<div class="container">
  <div class="card card-container">
    <form>
      <div class="form-group">
        <label for="numberOfSolarPanels">Number of Solar Panels</label>
        <input
          type="text"
          class="form-control"
          name="numberOfSolarPanels"
          [(ngModel)]="form.numberOfSolarPanels"
          #numberOfSolarPanels="ngModel"
          disabled=true
        />
      </div>
      <div class="form-group">
        <label for="name">Solar Panel Name</label>
        <input
          type="text"
          class="form-control"
          name="name"
          [(ngModel)]="form.name"
          #name="ngModel"
          disabled=true
        />
      </div>
      <div class="form-group">
        <label for="watts">Solar Panel Watts</label>
        <input
          type="text"
          class="form-control"
          name="watts"
          [(ngModel)]="form.watts"
          #watts="ngModel"
          disabled=true
        />
      </div>
      <div class="form-group">
        <label>Solar Panels in Line</label>
        <input type="text"
        class="form-control"
        name="numberOfSolarPanelsInLine"
        [(ngModel)]="form.numberOfSolarPanelsInLine"
        #numberOfSolarPanelsInLine="ngModel"
        disabled=true/>
      </div>
      <div class="form-group">
        <label for="inverterName">Inverter Name</label>
        <input
          type="text"
          class="form-control"
          name="inverterName"
          [(ngModel)]="form.inverterName"
          #inverterName="ngModel"
          disabled=true
        />
      </div>
      <div class="form-group">
        <label for="numberOfAccumulator">Total Accumulators</label>
        <input
          type="text"
          class="form-control"
          name="numberOfAccumulator"
          [(ngModel)]="form.numberOfAccumulator"
          #numberOfAccumulator="ngModel"
          disabled=true
        />
      </div>
    </form>
  </div>
</div>
