<div class="card">
  <div id="container">
    <img src="../../assets/hybrid.png" class="image" style="float: left" />
    <div class="container">
      <h3>Αυτόνομο Σύστημα</h3>
      <p style="text-align: justify">
        Ως ιδιοκατανάλωση ηλεκτρισμού ορίζεται όταν καταναλωτές (ατομικοί ή
        εταιρικοί) καταναλώνουν ενέργεια παραγόμενη από κοντινές τους
        εγκαταστάσεις και συνδέονται με αυτούς με φωτοβολταϊκά πάνελ ή ακόμα και
        μικρού μεγέθους ανεμογεννήτριες
      </p>

      <h4><li>Βαθμός ιδιοκατανάλωσης</li></h4>
      <p style="text-align: justify">
        Το ιδανικό σενάριο θα ήταν για έναν καταναλωτή είτε με οικιακό είτε με
        εταιρικό προφίλ να καταναλώνει όση ενέργεια παράγει κάτι το οποίο ωστόσο
        δεν είναι πάντα εφικτό. Επομένως η ιδιοκατανάλωση μπορεί να καλύψει ένα
        τμήμα της ζήτησης.
      </p>

      <h4><li>Σύνδεση με το δίκτυο ή αυτόνομο σύστημα</li></h4>
      <p>
        Η σύνδεση με το δίκτυο είναι επιθυμητή ώστε να καλύψει την ενεργειακή
        ζήτηση όταν η παραγωγή από το φωτοβολταϊκό σύστημα δεν είναι επαρκής
        λόγω των απρόβλεπτων καιρικών συνθηκών. Επίσης η σύνδεση αυτή επιτρέπει
        και την εισαγωγή ηλεκτρικής ενέργειας στο δίκτυο με την εναλλακτική να
        είναι η αποθήκευση της σε κάποιο συσσωρευτή. Ωστόσο σε κάποιες
        περιπτώσεις (απομακρυσμένες περιοχές από το δίκτυο όπου η διασύνδεση
        είναι δύσκολη) καταναλωτές επιλέγουν να είναι ενεργειακά αυτόνομοι και
        να μην συνδέονται στο δίκτυο
      </p>

      <h4>Ατομική ή συλλογική προσέγγιση</h4>
      <p>
        Η ιδιοκατανάλωση μπορεί να αφορά τόσο ατομικούς όσο και εταιρικούς
        καταναλωτές.
      </p>
      <div class="container">
        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
          <!--- Note that these columns can be defined in any order.
                The actual rendered columns are set as a property on the row definition" -->

          <!-- Position Column -->
          <ng-container matColumnDef="position">
            <th mat-header-cell *matHeaderCellDef>Τύπος Ηλιακού Πλαισίου:</th>
            <td mat-cell *matCellDef="let element">{{ element.position }}</td>
          </ng-container>

          <!-- Name Column -->
          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef>
              Φωτοβολταϊκό πλαίσιο Sharp Μονοκρυσταλλικού πυριτίου -445W
            </th>
            <td mat-cell *matCellDef="let element">{{ element.name }}</td>
          </ng-container>
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
        </table>
      </div>

      <div class="container">
        <table mat-table [dataSource]="outModifier" class="mat-elevation-z8">
          <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->

          <!-- Position Column -->
          <ng-container matColumnDef="position">
            <th mat-header-cell *matHeaderCellDef>
              Ρυθμιστής φόρτισης συσσωρευτών XTRA 4415N
            </th>
            <td mat-cell *matCellDef="let element">{{ element.position }}</td>
          </ng-container>

          <!-- Name Column -->
          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef>
              Είσοδος ρυθμιστή (προς τα ΦΒ πλαίσια)
            </th>
            <td mat-cell *matCellDef="let element">{{ element.name }}</td>
          </ng-container>
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
        </table>
      </div>

      <div class="container">
        <table mat-table [dataSource]="inModifier" class="mat-elevation-z8">
          <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->

          <!-- Position Column -->
          <ng-container matColumnDef="position">
            <th mat-header-cell *matHeaderCellDef>
              Ρυθμιστής φόρτισης συσσωρευτών XTRA 4415N
            </th>
            <td mat-cell *matCellDef="let element">{{ element.position }}</td>
          </ng-container>

          <!-- Name Column -->
          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef>
              Έξοδος ρυθμιστή (προς τους συσσωρευτές)
            </th>
            <td mat-cell *matCellDef="let element">{{ element.name }}</td>
          </ng-container>
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
        </table>
      </div>

      <div class="container">
        <table mat-table [dataSource]="rev" class="mat-elevation-z8">
          <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->

          <!-- Position Column -->
          <ng-container matColumnDef="position">
            <th mat-header-cell *matHeaderCellDef>
              Αντιστροφέας Victron Phoenix
            </th>
            <td mat-cell *matCellDef="let element">{{ element.position }}</td>
          </ng-container>

          <!-- Name Column -->
          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef>
              Τύπος αντιστροφέα
            </th>
            <td mat-cell *matCellDef="let element">{{ element.name }}</td>
          </ng-container>
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
        </table>
      </div>
    </div>
  </div>
</div>
