<div class="col-md-12">
  <div class="card card-container">
    <img
      id="profile-img"
      src="//ssl.gstatic.com/accounts/ui/avatar_2x.png"
      class="profile-img-card"
    />
    <form
      *ngIf="isLoggedIn"
      name="form"
      (ngSubmit)="f.form.valid && onSubmit()"
      #f="ngForm"
      novalidate
    >

    <div class="form-group">
      <label for="isAutonomous">Will the system be autonomous?</label>
      <input
        type="text"
        class="form-control"
        name="isAutonomous"
        [(ngModel)]="form.isAutonomous"
        required
        #isAutonomous="ngModel"
      />
      <div
        class="alert alert-danger"
        role="alert"
        *ngIf="isAutonomous.errors && f.submitted"
      >
        Autonomous field is required!
      </div>
    </div>

      <div class="form-group">
        <label for="districtName">District Name</label>
        <input
          type="text"
          class="form-control"
          name="districtName"
          [(ngModel)]="form.districtName"
          required
          #districtName="ngModel"
        />
        <div
          class="alert alert-danger"
          role="alert"
          *ngIf="districtName.errors && f.submitted"
        >
          District name is required!
        </div>
      </div>
      <div class="form-group">
        <label for="daysOfAutonomy">Days of Autonomy</label>
        <input
          type="daysOfAutonomy"
          class="form-control"
          name="daysOfAutonomy"
          [(ngModel)]="form.daysOfAutonomy"
          required
          max="6" 
          min="1"
          #daysOfAutonomy="ngModel"
        />
        <div
          class="alert alert-danger"
          role="alert"
          *ngIf="daysOfAutonomy.errors && f.submitted"
        >
          <div *ngIf="daysOfAutonomy.errors.required">Days of autonomy is required</div>
        </div>
      </div>

      <div class="form-group">
        <label for="totalEnergyWasteOfDecember">Days of Autonomy</label>
        <input
          type="totalEnergyWasteOfDecember"
          class="form-control"
          name="daysOfAutonomy"
          [(ngModel)]="form.daysOfAutonomy"
          required
          max="6" 
          min="1"
          #daysOfAutonomy="ngModel"
        />
        <div
          class="alert alert-danger"
          role="alert"
          *ngIf="daysOfAutonomy.errors && f.submitted"
        >
          <div *ngIf="daysOfAutonomy.errors.required">Days of autonomy is required</div>
        </div>
      </div>

      <div class="form-group">
        <button class="btn btn-primary btn-block">
          Calculate
        </button>
      </div>
      <div class="form-group">
      </div>
    </form>
  </div>
</div>
