<div class="container">
  <div class="card card-container">
    <form
      *ngIf="isLoggedIn"
      name="form"
      (ngSubmit)="f.form.valid && onSubmit()"
      #f="ngForm"
      novalidate
    >
      <div class="form-group">
        <label for="isAutonomous"
          >Check the box if your system is autonomous</label
        >
        <div class="border d-flex align-items-center justify-content-center">
          <div class="form-check-inline">
            <input
              type="checkbox"
              name="isAutonomous"
              [(ngModel)]="form.isAutonomous"
              #isAutonomous="ngModel"
              (change)="updateState()"
            />
          </div>
        </div>
      </div>

      <div class="form-group">
        <label for="districtName">District Name</label>
        <input
          type="text"
          class="form-control"
          name="districtName"
          [(ngModel)]="form.districtName"
          required
          placeholder="Αθήνα"
          #districtName="ngModel"
        />
        <div
          class="alert alert-danger"
          role="alert"
          *ngIf="districtName.errors && f.submitted"
        >
          District name is required!
        </div>
      </div>

      <div class="form-group" *ngIf="showFootNote">
        <label for="daysOfAutonomy">Days of Autonomy</label>
        <input
          type="daysOfAutonomy"
          class="form-control"
          name="daysOfAutonomy"
          [(ngModel)]="form.daysOfAutonomy"
          required
          max="6"
          min="1"
          placeholder="1 - 6 days"
          #daysOfAutonomy="ngModel"
        />
        <div
          class="alert alert-danger"
          role="alert"
          *ngIf="daysOfAutonomy.errors && f.submitted"
        >
          <div *ngIf="daysOfAutonomy.errors.required">
            Days of autonomy is required
          </div>
        </div>
      </div>

      <div class="form-group" *ngIf="showFootNote">
        <label for="totalEnergyWasteOfDecember"
          >Total energy used during December</label
        >
        <input
          type="totalEnergyWasteOfDecember"
          class="form-control"
          name="totalEnergyWasteOfDecember"
          placeholder="50 - 450"
          required
          [(ngModel)]="form.totalEnergyWasteOfDecember"
          #totalEnergyWasteOfDecember="ngModel"
        />
        <div
          class="alert alert-danger"
          role="alert"
          *ngIf="totalEnergyWasteOfDecember.errors && f.submitted"
        >
          <div *ngIf="totalEnergyWasteOfDecember.errors.required">
            Total energy wasted is required
          </div>
        </div>
      </div>

      <div class="form-group" *ngIf="!showFootNote">
        <label for="userElectricalUsage">Yearly energy used</label>
        <input
          type="userElectricalUsage"
          class="form-control"
          name="userElectricalUsage"
          placeholder="8.500 - 30.000"
          required
          [(ngModel)]="form.userElectricalUsage"
          #userElectricalUsage="ngModel"
        />
        <div
          class="alert alert-danger"
          role="alert"
          *ngIf="userElectricalUsage.errors && f.submitted"
        >
          <div *ngIf="userElectricalUsage.errors.required">
            Total energy wasted is required
          </div>
        </div>
      </div>

      <div class="form-group">
        <button class="btn btn-primary btn-block" id="submit">Calculate</button>
      </div>
      <div class="form-group"></div>
    </form>
  </div>
</div>